<div class="hero min-h-screen" style="background-image: url(assets/geometric-1732847_1280.jpg);">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">Data Digitalization Maxon</h1>
            <p class="mb-5">Motor Performance: Test data transformed into visual diagrams</p>
            <button routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page"
                class="btn btn-active btn-ghost">Go to Dashboard</button>
        </div>
    </div>
</div>

<div class="text-center mt-10">
    <h1>Understanding ApexCharts</h1>
    <p>ApexCharts is a modern JavaScript charting library that helps developers to create interactive visualizations
        for web applications. It offers a wide range of chart types, customization options, and features.</p>

    <div id="chart"></div> <!-- Hier wird das Diagramm gerendert -->

    <div class="explanations">
        <div class="content-box">
            <h2>Customization</h2>
            <p>One of the key features of ApexCharts is its flexibility and customization options. You can customize
                almost every aspect of the chart, including colors, labels, axes, tooltips, and more. Refer to the
                ApexCharts documentation for a comprehensive list of available options.</p>
        </div>

        <div class="content-box">
            <h2>Interactivity</h2>
            <p>ApexCharts provides built-in support for interactivity, allowing users to zoom, pan, hover over data
                points for details, and toggle series visibility. These features enhance the user experience and make
                the charts more engaging.</p>
        </div>

        <div class="content-box">
            <h2>Conclusion</h2>
            <p>ApexCharts is a powerful and versatile charting library that simplifies the process of creating beautiful
                and interactive charts for web applications. Whether you need simple line charts, complex financial
                charts, or anything in between, ApexCharts has got you covered.</p>
        </div>
    </div>
</div>

<div class="grid place-items-center">
    <div class="flex flex-col max-w-[320px] m-10">
        <div class="flex items-start mb-4 mr-20">
            <div>
                <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-3.jpg"
                    alt="Jese image">
            </div>
            <div
                class="flex flex-col max-w-[240px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-3xl rounded-t-3xl dark:bg-gray-700">
                <div class="flex items-center space-x-2 rtl:space-x-reverse">
                    <span class="text-sm font-semibold text-gray-900 dark:text-white">Bonnie Green</span>
                    <span class="text-sm font-normal text-gray-500 dark:text-gray-400">11:46</span>
                </div>
                <p class="text-sm font-normal py-2.5 text-gray-900 dark:text-white">That's awesome. I think our users
                    will really appreciate the improvements.</p>
                <span class="text-sm font-normal text-gray-500 dark:text-gray-400">Delivered</span>
            </div>
        </div>

        <div class="flex items-end justify-end mb-4 ml-20">
            <div
                class="flex flex-col max-w-[240px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-t-3xl rounded-l-3xl dark:bg-gray-700">
                <div class="flex items-center space-x-2 rtl:space-x-reverse">
                    <span class="text-sm font-semibold text-gray-900 dark:text-white">Bonnie Green</span>
                    <span class="text-sm font-normal text-gray-500 dark:text-gray-400">11:46</span>
                </div>
                <p class="text-sm font-normal py-2.5 text-gray-900 dark:text-white">That's awesome. I think our users
                    will really appreciate the improvements.</p>
                <span class="text-sm font-normal text-gray-500 dark:text-gray-400">Delivered</span>
            </div>
            <div>
                <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-3.jpg" alt="Jese image">
            </div>
        </div>
    </div>
</div>